body {
    font-family: sans-serif;
    margin: 20px;
  }
  #title {
    margin-bottom: 10px;
  }
  #container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  #video, #processedImage {
    border: 1px solid #000;
  }
  #restartButton {
    display: none; /* Oculto por defecto */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  #restartButton:hover {
    background-color: #0056b3;
  }